# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

'.platform-darwin atom-text-editor':
  'cmd-alt-o': 'freefem-runner:toggle'
  'cmd-alt-f': 'freefem-runner:compile'
  'cmd-space-f': 'freefem-runner:stop'

'.platform-win32 atom-text-editor':
  'ctrl-alt-o': 'freefem-runner:toggle'
  'ctrl-alt-f': 'freefem-runner:compile'
  'ctrl-space-f': 'freefem-runner:stop'


'.platform-linux atom-text-editor':
  'ctrl-alt-o': 'freefem-runner:toggle'
  'ctrl-alt-f': 'freefem-runner:compile'
  'ctrl-space-f': 'freefem-runner:stop'
